.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(40px, auto);
  grid-gap:3px;
}

#logga , .logga{
  grid-column: 1/2;
  grid-row: 1/2;
}

#meny, #meny1{
  grid-column: 3/5;
  grid-row: 1/2;
}


/* FÖRSTA SIDAN */

#h1travel{
  grid-column: 1/3;
  grid-row: 2/3;
}

#valkommen {
  grid-column: 1/3;
  grid-row: 3/4;
}

.explore {
  grid-column: 4/5;
  grid-row: 2/4;
}

h3{
  grid-column: 4/5;
  grid-row: 2/3;
}

#plondon {
  grid-column: 4/5;
  grid-row: 4/5;
}

.slideshow-container {
  grid-column: 3/5;
  grid-row: 2/4;
}

/*.dots {
  grid-column: 3/5;
  grid-row: 4/5;
}*/


/* ENGLAND SIDAN*/

#h1england {
  grid-column: 1/3;
  grid-row: 2/3;
}

#text1 {
  grid-column: 1/3;
  grid-row: 3/5;
}

#london {
  grid-column: 3/5;
  grid-row: 2/4;
}

#imgharry {
  grid-column: 2/3;
  grid-row: 6/7;
}

#pharry {
  grid-column: 1/2;
  grid-row: 6/7;
}

#h3harry {
  grid-column: 1/2;
  grid-row: 5/6;
}


#imgoxford {
  grid-column: 4/5 ;
  grid-row: 6/7;
}

#poxford {
  grid-column: 3/4;
  grid-row: 6/7;
}

#h3oxford {
  grid-column: 3/4;
  grid-row: 5/6;
}

#div {
  grid-column: 1/-1;
  grid-row: 5/6;
}

/* ABOUT ME SIDAN*/

#h1about {
  grid-column: 1/3;
  grid-row: 1/2;
}

.imgabout {
  grid-column: 1/-1;
  grid-row: 1/2;
}

#pabout {
  grid-column: 1/3;
  grid-row: 2/3;
}


/* ITALIEN SIDAN */

#imgvenedig {
  grid-column: 1/-1;
  grid-row: 2/3;
}

#h3italy {
  grid-column: 1/3;
  grid-row: 3/4;
}

#pitaly {
  grid-column: 1/3;
  grid-row: 4/5;
}

#imgdol {
  grid-column: 3/5;
  grid-row: 3/5;
}

#imgrome {
  grid-column: 1/3;
  grid-row: 6/8;
}

#p2italy {
  grid-column: 3/5;
  grid-row: 6/8;
}

footer, #footerengland {
  grid-column: 1/-1;
  grid-row: 9/10;
}

.button, .buttonengland {
  grid-column: 2/3;
  grid-row: 9/10;
}


/*GREKLAND*/

#imggreece {
  grid-column: 1/-1;
  grid-row: 3/4;
}

#pgreece {
  grid-column: 1/3;
  grid-row: 5/6;
}

#h3greece {
  grid-column: 1/3;
  grid-row: 4/5;
}

#imggreece2 {
  grid-column: 3/5;
  grid-row: 5/6;
}

#footergreece {
  grid-column: 1/-1;
  grid-row: 8/9;
}

.buttongreece {
  grid-column: 2/3;
  grid-row: 8/9;
}



/*           MEDIA QUERY        */


@media only screen and (max-width: 600px) {

  #meny1 {
    grid-column: 2/5;
    grid-row: 1/2x;
  }

/* HEM SIDAN */

  #h1travel{
    grid-column: 1/-1;
    grid-row: 2/3;
    text-align: center;
    margin:0;
  }

  #valkommen {
    grid-column: 1/5;
    grid-row: 3/4;
    text-align: center;
    margin:0;
  }

  .explore {
    grid-column: 4/5;
    grid-row: 2/4;
  }

  h3{
    grid-column: 4/5;
    grid-row: 2/3;
  }

  #plondon {
    grid-column: 4/5;
    grid-row: 4/5;
  }

  .slideshow-container {
    grid-column: 1/5;
    grid-row: 5/7;
  }

  .text {
    bottom: 80%;
  }

/* ITALIEN SIDAN */

  #imgvenedig {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  #h3italy {
    grid-column: 1/-1;
    grid-row: 3/4;
  }

  #pitaly {
    grid-column: 1/-1;
    grid-row: 4/5;
  }

  #imgdol {
    grid-column: 1/5;
    grid-row: 5/6;
    width: 90%;
  }

  #imgrome {
    grid-column: 1/5;
    grid-row: 8/10;
    width: 90%;
  }

  #p2italy {
    grid-column: 1/-1;
    grid-row: 6/8;
  }

  footer {
    grid-column: 1/-1;
    grid-row: 10/11;
  }

  .button {
    grid-column: 4/5;
    grid-row: 10/11;
  }

/* ENGLAND SIDAN */

#h1england {
  grid-column: 1/3;
  grid-row: 2/3;
  padding: 0;
}

#text1 {
  grid-column: 1/5;
  grid-row: 5/7;
}

#london {
  grid-column: 2/4;
  grid-row: 3/5;
  width: 100%;
}

#imgharry {
  grid-column: 2/4;
  grid-row: 10/11;
  justify-self: center;
  width:100%;
}

#pharry {
  grid-column: 1/5;
  grid-row: 11/12;
}

#h3harry {
  grid-column: 2/4;
  grid-row: 9/10;
  text-align: center;
}


#imgoxford {
  grid-column: 2/4 ;
  grid-row: 14/15;
  justify-self: center;
  width:100%;
}

#poxford {
  grid-column: 1/5;
  grid-row: 15/16;
}

#h3oxford {
  grid-column: 2/4;
  grid-row: 13/14;
  text-align: center;
}

#div {
  grid-column: 1/-1;
  grid-row: 8/9;
}

.buttonengland {
  grid-column: 4/5;
  grid-row: 17/18;
}

#footerengland {
  grid-column: 1/-1;
  grid-row: 17/18;
}


/* GREKLAND */


#imggreece {
  grid-column: 1/-1;
  grid-row: 3/4;
}

#pgreece {
  grid-column: 1/5;
  grid-row: 5/6;
}

#h3greece {
  grid-column: 1/5;
  grid-row: 4/5;
}

#imggreece2 {
  grid-column: 1/5;
  grid-row: 6/7;
}

#h1greece {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 90%;
  font-size: 2.5rem;
}

.buttongreece {
  grid-column: 4/5;
  grid-row: 8/9;
}


/*  ABOUT ME */

#h1about {
  grid-column: 1/-1;
  grid-row: 2/3;
  text-align: center;
  margin:0;
}

#pabout {
  grid-column: 1/-1;
  grid-row: 4/5;
  text-align: center;
  margin:0;
}


}
